@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400..800&display=swap');

:root {
    --border-radius: 2px;
    --shadow: 0 0 4px hsla(0, 0%, 40%, 0.5);
    --shadow-hover: 0 0 6px hsla(0, 0%, 40%, 0.5);
    --root-bg: hsl(20, 4%, 11%);
    --card-width: 115px;
    --card-height: 172px;
}

* {
    box-sizing: border-box;
}

body {
    background:
            radial-gradient(circle at 25% 25%, rgba(255,255,255,0.02) 11px, transparent 1px),
            radial-gradient(circle at 75% 75%, rgba(0,0,0,0.02) 11px, transparent 1px),
            linear-gradient(
                    180deg,
                    #c0c3c4 0%,
                    #b4b9bf 50%,
                    #979ba1 100%
            );

    background-size:
            16px 16px,
            18px 18px,
            100% 100%;
    min-height: 100vh;
    margin: 0;
    position: relative;
    display: flex;
}

body,
button {
    font-family: 'Nunito', "Noto Sans", Tahoma, sans-serif;
}

main {
    flex-grow: 1;
    place-content: center;
}

#dot {
    position: absolute;
    top: 25%;
    left: 4px;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    background: rgb(255 140 190 / 0.95);
}

#game {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    max-height: 1200px;
}

.connection {
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 8px;
    z-index: 9;
}

button {
    font-size: .9rem;
    padding: 6px 10px;
    width: 100px;
    text-align: center;
    outline: none;
    border-radius: 4px;
    border: 1px solid hsl(0 0% 55%);
    background-color: hsl(0 0% 95%);

    &:enabled:hover {
        background-color: hsl(0 0% 90%);
        border: 1px solid hsl(0 0% 45%);
    }
}

#input_room_id {
    font-size: .9rem;
    padding: 6px 10px;
    width: 80px;
    text-align: center;
    outline: none;
    border-radius: 4px;
    border: 1px solid hsl(none 0% 55%);
}

#player_ws_status {
    height: 24px;
    width: 24px;
    box-shadow: #00000022 0 0 2px;
    border-radius: 50%;
}

[data-connected="1"] {
    background-color: #18e118;
    border: 1px solid #18c418;
}

[data-connected="0"] {
    background-color: #dc3939;
    border: 1px solid #c32c2c;
}

[data-connected="-1"] {
    background-color: #ffd910;
    border: 1px solid #e8c50e;
}

#game_field {

}

#game_field, .player_cards {
    place-content: center;
    padding: .5em 80px;
}

.game_field_rows {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#player {
    position: relative;
    width: 100%;
    max-width: 620px;
    justify-self: center;
}

#player_deck:hover {
    transform: scale(1.02);
}

#indicator_box {
    position: absolute;
    right: 0;
    z-index: 55;
    width: 80px;
    height: 160px;
    left:0;
    top: 14px;
    display: flex;
    align-items: center;
    justify-content: right;

    #indicator_turn {
        height: 24px;
        width: 24px;
        background: #7dcd77;
        border: 1px solid hsl(0 0% 54%);
        border-radius: 4px;

        &.turn-opponent {
            background: hsl(0 0% 55%);
            border: 1px solid hsl(0 0% 48%);
        }
    }
}

#end_turn {
    position: absolute;
    right: 0;
    z-index: 55;
    width: 80px;
    height: 160px;
    top: 14px;
    box-shadow: #00000022 0 0 4px 0px;
    border: 2px solid hsl(211 26% 50% / 0.90);
    background-color: hsl(180 4% 92% / 0.95);
    color: hsl(0 0% 8% / 0.96);
    border-radius: 30px;

    &:enabled:hover {
        box-shadow: #00000022 0 0 10px 2px;
        border: 2px solid hsl(211 26% 46% / 0.90);
        background-color: hsl(180 4% 92% / 0.95);
        cursor: pointer;
    }

    &:disabled {
        background-color: hsl(180 4% 86% / 0.95);
    }
}

.player_cards, .game_field_row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2.5em;
}

.card_area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.cards_left {
    height: 24px;
}

.pickable:hover {
    transform: translateY(-2px);
}

.card {
    font-size: 2em;
    text-align: center;
    place-content: center;
    height: var(--card-height);
    width: var(--card-width);
    max-width: var(--card-width);
    user-select: none;
    touch-action: none;
    flex-shrink: 0;
    /*box-shadow: 0 0 2px #00000050;*/
    border: 1px solid #8d8d8d;
    border-radius: 11px;
    z-index: 10;
}

.card-up {
    background-color: #f3f5f7;
}

[data-owner="0"] {
    background:
            radial-gradient(
                    ellipse at center,
                    rgba(255,255,255,0.08) 0%,
                    transparent 65%
            ),
            repeating-linear-gradient(
                    45deg,
                    rgba(255,255,255,0.06) 0px,
                    rgba(255,255,255,0.06) 2px,
                    transparent 2px,
                    transparent 10px
            ),
            repeating-linear-gradient(
                    -45deg,
                    rgba(255,255,255,0.06) 0px,
                    rgba(255,255,255,0.06) 2px,
                    transparent 2px,
                    transparent 10px
            ),
            linear-gradient(
                    135deg,
                    #4c77a8 0%,
                    #305e8c 100%
            );

    border: 1px dotted rgba(0,0,0,0.1);

    box-shadow:
            inset 0 0 0 4px rgba(255,255,255,0.08),
            inset 0 0 40px rgba(255,255,255,0.05),
            0 0 1px 2px rgba(0,0,0,0.1);
}

[data-owner="1"] {
    background:
            radial-gradient(
                    ellipse at center,
                    rgba(255,255,255,0.08) 0%,
                    transparent 65%
            ),
            repeating-linear-gradient(
                    45deg,
                    rgba(255,255,255,0.06) 0px,
                    rgba(255,255,255,0.06) 2px,
                    transparent 2px,
                    transparent 10px
            ),
            repeating-linear-gradient(
                    -45deg,
                    rgba(255,255,255,0.06) 0px,
                    rgba(255,255,255,0.06) 2px,
                    transparent 2px,
                    transparent 10px
            ),
            linear-gradient(
                    135deg,
                    #a85858 0%,
                    #8c3e3e 100%
            );

    border: 1px dotted rgba(0,0,0,0.1);

    box-shadow:
            inset 0 0 0 4px rgba(255,255,255,0.08),
            inset 0 0 40px rgba(255,255,255,0.05),
            0 0 1px 2px rgba(0,0,0,0.1);
}

.stack {
    position: relative;
    border: none;
    height: var(--card-height);
    width: var(--card-width);
    flex-shrink: 0;
    border-radius: 11px;

    &:before {
        box-sizing: border-box;
        content: ' ';
        width: calc(var(--card-width) - 2px);
        height: calc(var(--card-height) - 2px);
        border: 1px solid #00000044;
        border-radius: 11px;
        position: absolute;
        top: 1px;
        left: 2px;
        background-color: rgba(0,0,0,0.05);
        z-index: 0;
    }

    &[data-value]::before {
        display: none;
    }
}

.stack_left {
    &:before {
        left: 1px;
    }
}

.stack_right {
    &:before {
        right: 1px;
    }
}


.pile {
    position: relative;
    border: none;
    width: 100%;

    &:before {
        box-sizing: border-box;
        content: ' ';
        width: calc(var(--card-width) - 2px);
        height: calc(var(--card-height) - 2px);
        position: absolute;
        top: 1px;
        border: 1px solid #00000044;
        border-radius: 11px;
        z-index: 0;
        background-color: rgba(0,0,0,0.05);
    }
}

.pile_left {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    position: relative;
    margin-right: 12px;

    .card:last-child {
        margin-left: -60px;
        z-index: 100;
    }

    .card:not(:first-child) {
        margin-right: -75px;
        z-index: 90;
    }

    &:before {
        right: 1px;
    }
}

.pile_right {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
    margin-left: 12px;

    .card:last-child {
        margin-right: -60px;
        z-index: 100;
    }

    .card:not(:first-child) {
        margin-left: -75px;
        z-index: 90;
    }

    &:before {
        left: 1px;
    }
}

.card-up {
    background: #00000000 no-repeat center;
    background-size: 100% 100%;
    border: 1px solid #8d8d8d;
    font-size: 0;
}

[data-value="-1"] { background:  transparent; }
[data-value="D2"] { background-image: url("./img/D2.webp"); }
[data-value="D3"] { background-image: url("./img/D3.webp"); }
[data-value="D4"] { background-image: url("./img/D4.webp"); }
[data-value="D5"] { background-image: url("./img/D5.webp"); }
[data-value="D6"] { background-image: url("./img/D6.webp"); }
[data-value="D7"] { background-image: url("./img/D7.webp"); }
[data-value="D8"] { background-image: url("./img/D8.webp"); }
[data-value="D9"] { background-image: url("./img/D9.webp"); }
[data-value="D10"] { background-image: url("./img/D10.webp"); }
[data-value="DJ"] { background-image: url("./img/DJ.webp"); }
[data-value="DQ"] { background-image: url("./img/DQ.webp"); }
[data-value="DK"] { background-image: url("./img/DK.webp"); }
[data-value="DA"] { background-image: url("./img/DA.webp"); }

[data-value="C2"] { background-image: url("./img/C2.webp"); }
[data-value="C3"] { background-image: url("./img/C3.webp"); }
[data-value="C4"] { background-image: url("./img/C4.webp"); }
[data-value="C5"] { background-image: url("./img/C5.webp"); }
[data-value="C6"] { background-image: url("./img/C6.webp"); }
[data-value="C7"] { background-image: url("./img/C7.webp"); }
[data-value="C8"] { background-image: url("./img/C8.webp"); }
[data-value="C9"] { background-image: url("./img/C9.webp"); }
[data-value="C10"] { background-image: url("./img/C10.webp"); }
[data-value="CJ"] { background-image: url("./img/CJ.webp"); }
[data-value="CQ"] { background-image: url("./img/CQ.webp"); }
[data-value="CK"] { background-image: url("./img/CK.webp"); }
[data-value="CA"] { background-image: url("./img/CA.webp"); }

[data-value="H2"] { background-image: url("./img/H2.webp"); }
[data-value="H3"] { background-image: url("./img/H3.webp"); }
[data-value="H4"] { background-image: url("./img/H4.webp"); }
[data-value="H5"] { background-image: url("./img/H5.webp"); }
[data-value="H6"] { background-image: url("./img/H6.webp"); }
[data-value="H7"] { background-image: url("./img/H7.webp"); }
[data-value="H8"] { background-image: url("./img/H8.webp"); }
[data-value="H9"] { background-image: url("./img/H9.webp"); }
[data-value="H10"] { background-image: url("./img/H10.webp"); }
[data-value="HJ"] { background-image: url("./img/HJ.webp"); }
[data-value="HQ"] { background-image: url("./img/HQ.webp"); }
[data-value="HK"] { background-image: url("./img/HK.webp"); }
[data-value="HA"] { background-image: url("./img/HA.webp"); }

[data-value="S2"] { background-image: url("./img/S2.webp"); }
[data-value="S3"] { background-image: url("./img/S3.webp"); }
[data-value="S4"] { background-image: url("./img/S4.webp"); }
[data-value="S5"] { background-image: url("./img/S5.webp"); }
[data-value="S6"] { background-image: url("./img/S6.webp"); }
[data-value="S7"] { background-image: url("./img/S7.webp"); }
[data-value="S8"] { background-image: url("./img/S8.webp"); }
[data-value="S9"] { background-image: url("./img/S9.webp"); }
[data-value="S10"] { background-image: url("./img/S10.webp"); }
[data-value="SJ"] { background-image: url("./img/SJ.webp"); }
[data-value="SQ"] { background-image: url("./img/SQ.webp"); }
[data-value="SK"] { background-image: url("./img/SK.webp"); }
[data-value="SA"] { background-image: url("./img/SA.webp"); }